{
	"0": ["Это мы!", "28.06.2019"],
        "1": ["Карта Эссо", "30.06.2019"],
        "2": ["Шишечка в Эссо", "05.07.2019"],
	"3": ["Ансамбль!", "06.07.2019"],
        "4": ["Александра на мосту", "05.07.2019"],
        "5": ["Уксичан около музея", "05.07.2019"],
        "6": ["Быстринский этнографический музей", "05.07.2019"],
	"7": ["Сушение рыбы на стойбище", "03.07.2019"],
	"8": ["Лингвисты идут в библиотеку, на первую встречу с эвенами", "01.07.2019"],
	"9": ["На дне Первой рыбы", "06.07.2019"],
        "10": ["Это мы в Петропавловске-Камчатском", "11.07.2019"],
        "11": ["На дне Первой рыбы", "06.07.2019"],
        "12": ["Первая рыба на дне Первой рыбы", "06.07.2019"],
	"13": ["Лошади около Эссо", "02.07.2019"],
        "14": ["Готовим лепёшки на стойбище Мэнэдек", "04.07.2019"],
        "15": ["По дороге от информантов", "05.07.2019"],
        "16": ["На стойбище Мэнэдек", "03.07.2019"],
	"17": ["Приветственная стелла!", "06.07.2019"],
        "18": ["Эссо", "06.07.2019"],
        "19": ["Уксичан", "06.07.2019"],
        "20": ["Эвенский костюм в музее", "05.07.2019"],
	"21": ["Команда лингвистов в Анавгае", "04.01.2020"],
	"22": ["Зимний Анавгай", "04.01.2020"],
	"23": ["Лингвисты в зимнем Анавгае", "05.01.2020"],
	"24": ["Зимнее Эссо", "12.01.2020"],
        "25": ["Эссо", "04.07.2021"],
	"26": ["На пути к открытиям", "11.07.2021"],
	"27": ["Лингвисты за работой", "06.07.2021"],
	"28": ["Медведи", "07.07.2021"],
	"29": ["Приветственное слово московских лингвистов", "10.07.2021"],
	"30": ["Перед началом корякских «Весёлых стартов»", "10.07.2021"],
        "31": ["Ренессанс", "04.01.2021"],
	"32": ["Изучаем эвенский на стойбище", "04.01.2021"],
	"33": ["На пути к вершине", "11.07.2021"],
        "34": ["Вид на Эссо", "11.07.2021"],
	"35": ["Лингвисты на остановке", "18.07.2021"],
"photo-021.webp": ["Ваня за работой", "25.04.2026"],
"photo-023.webp": ["В гостях у Матрёны Ильиничны", "26.04.2026"],
"photo-026.webp": ["Занимаемся в Анавгае", "27.04.2026"],
"photo-030.webp": ["Дарина Черканова и Катя", "28.04.2026"],
"photo-034.webp": ["Вечернее Эссо", "29.04.2026"],
"photo-035.webp": ["Ночное Эссо", "29.04.2026"],
"photo-038.webp": ["Обедаем в мастерской в честь Дня коренных малочисленных народов РФ", "30.04.2026"],
"photo-041.webp": ["Сценка «Ворон и солнце»", "30.04.2026"],
"photo-042.webp": ["Примерка костюмов", "30.04.2026"],
"photo-043.webp": ["После выступления", "30.04.2026"],
"photo-049.webp": ["Утро в Эссо. Вид со склона Пионерской сопки", "01.05.2026"],
"photo-050.webp": ["Встречаем первое мая на сопке", "01.05.2026"],
"photo-051.webp": ["Эссо с сопки", "01.05.2026"],
"photo-059.webp": ["Вечерний бассейн", "02.05.2026"],
"photo-065.webp": ["Мэнэдек. Экскурсия от Лилии Егоровны", "04.05.2026"],
"photo-067.webp": ["Мэнэдек. Экскурсия от Лилии Егоровны", "04.05.2026"],
"photo-068.webp": ["Великан на стойбище", "04.05.2026"],
"photo-078.webp": ["Бассейн в Эссо", "05.05.2026"],
"photo-089.webp": ["Из окошка в анавгайской библиотеке", "08.05.2026"],
"photo-095.webp": ["Несём детям шарики", "09.05.2026"]
}
